body{
    background-color: #caeeff;
    text-shadow: 0px 1px 1px rgba(255,255,255,.9);
}
#main{
    margin-top: 5px;
}
.titre{
    text-align: center;
}

footer{
    font-size: smaller;
    text-align: center;
}
header{
    height: 130px;
    background-image: url("../img/logo.png");
    background-repeat: no-repeat;
    background-position: center 0px;
}

.error {
    color: red;
}

input.ng-dirty.ng-invalid {
    border-color: red;
}

.single-comment.ng-enter{
    -webkit-transition: 1s linear all;
    -o-transition: 1s linear all;
    -moz-transition: 1s linear all;
    opacity: 0;
}
.single-comment.ng-enter.ng-enter-active{
    opacity:1;
}

#loading{
    background-image: url("../img/ajax-loader.gif");
    background-repeat: no-repeat;
    background-position: center 0px;
    height: 100px;
    width: 100%;
    margin-bottom: 20px;
}

ul.inline-elements{
    padding: 0px;
    margin: 0px;
}

ul.inline-elements li{
    display: inline-block;
    list-style: none;
    padding: 5px;
    border-radius: 3px;
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: #dff0d8;
    border: 1px solid #357ebd;
}

.selection.ng-hide-add{

}

.selection.ng-hide-add-active{

}

.no-selection.ng-hide-remove{
    -webkit-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    opacity : 0;
}

.no-selection.ng-hide-remove-active{
    opacity : 1;
}

