<div>
    <h4 class="titre">LA LISTE DES NIVEAUX D'ETUDE</h4>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr class="success">
                <th>Numero</th>
                <th>Code</th>
                <th>Cycle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="niveau in niveaux">
                <td>{{$index + 1}}</td>
                <td>{{niveau.code}}</td>
                <td>{{niveau.cycle.nom}}</td>
                <td><a ng-click="afficherFenetre(niveau)"><i class="glyphicon glyphicon-edit"></i> Modifier</a> | <a ng-click="supprimerNiveau(niveau)"><i class="glyphicon glyphicon-remove"></i>  Supprimer</a></td>
            </tr>
        </tbody>
    </table>
    <form>
        <button class="btn btn-primary" ng-click="afficherFenetre(undefined)"> <i class="glyphicon glyphicon-save"></i> Ajouter Niveau</button>
    </form>
</div>