<div class="panel panel-primary">
    <div class="panel-heading" ng-hide="element.id">
        Ajout d'un nouveau niveau d'etude
    </div>
    <div class="panel-heading" ng-show="element.id">
        Modification d'un niveau d'etude
    </div>
    <div class="panel-body">
        <form name="form" method="post" role="form" class="form-horizontal" novalidate>
            <div class="form-group">
                <label for="code" class="col-sm-2 control-label">Code</label>
                <div class="col-sm-8">
                    <input type="text" name="code" id="code" class="form-control" ng-model="element.code" ng-required="true"/>
                    <span class="error" ng-show="form.code.$dirty && form.code.$error.required">Le code est obligatoire</span>
                </div>
            </div>
            <div class="form-group">
                <label for="cycle" class="col-sm-2 control-label">Cycle</label>
                <div class="col-sm-8">
                    <select name="cycle" class="form-control" ng-model="element.cycle" ng-required="true" ng-options="cycle as cycle.nom for cycle in cycles track by cycle.id"></select>
                    <span class="error" ng-show="form.cycle.$dirty && form.cycle.$error.required">Le cycle est obligatoire</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" ng-show="element.id" ng-click="form.$valid && valider()">
                        Modifier
                    </button>
                    <button type="submit" class="btn btn-primary" ng-hide="element.id" ng-click="form.$valid && valider()">
                        Enregistrer
                    </button>
                    <button type="button" class="btn btn-danger pull-right" ng-click="cancel()">
                        Annuler
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
