<div>
    <h4 class="titre">LA LISTE DES UNITES D'ENSEIGNEMENT</h4>
    <form name="form" method="post" role="form" class="form-horizontal" novalidate>
        <div class="form-group">            
            <label for="departement" class="col-sm-1 control-label">Departement</label>
            <div class="col-sm-2">
                <select id="departement" class="form-control" ng-model="departement" ng-change="modificationDepartement()" ng-options="departement.id as departement.code  for departement in departements | orderBy:'code'"></select>
            </div>            
            <label for="niveau" class="col-sm-1 control-label">Niveau</label>
            <div class="col-sm-2">
                <select id="niveau" class="form-control" ng-model="niveau" ng-change="modificationDepartement()" ng-options="niveau.id as niveau.code  for niveau in niveaux | orderBy:'code'"></select>
            </div>            
            <label for="options" class="col-sm-1 control-label">Option</label>
            <div class="col-sm-2">
                <select id="options" class="form-control" ng-model="option" ng-options="option.id as option.code  for option in options | orderBy: 'code'"></select>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-success" ng-click="filtrer()">Filtrer</button>
            </div>
        </div>
    </form>
    <table class="table table-bordered table-hover table-condensed table-striped" ng-show="unites">
        <thead>
            <tr class="success">
                <th>N<sup>o</sup></th>
                <th>Nom</th>
                <th>Intitule</th>
                <th>Cours</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(cle,unite) in unites | orderBy:'code'">
                <td>{{$index + 1}}</td>
                <td>{{unite.code}}</td>
                <td>{{unite.intitule}}</td>
                        <td><ul class="inline-elements">
                                <li ng-repeat="cours in unite.cours">{{cours.intitule}}</li>
                    </ul></td>
                <td>
                    <a ng-click="afficherFenetre(cle,unite)">
                        <i class="glyphicon glyphicon-edit"></i> Modifier
                    </a> | 
                    <a ng-click="supprimerUniteEns(cle,unite)">
                        <i class="glyphicon glyphicon-remove"></i> Supprimer
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
    <div ng-hide="unites">
        Aucune unité d'enseignement n'est défini pour ce parcours
    </div>
    <form>
        <button class="btn btn-primary" ng-click="afficherFenetre()">
            <i class="glyphicon glyphicon-save"></i> Ajouter une unité d'enseignement
        </button>
    </form>
</div>