<div>
	<h2>LA LISTE DES DEPARTEMENTS</h2>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>Numero</th>
				<th>Code</th>
				<th>Intitule</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="depart in departements">
				<td>{{$index + 1}}</td>
				<td>{{depart.code}}</td>
				<td>{{depart.description}}</td>
				<td><a ng-click="afficherFenetre(depart)">Modifier</a> | <a ng-click="supprimerDepartement(depart)">Supprimer</a></td>
			</tr>
		</tbody>
	</table>
	<form>
		 <button class="btn btn-default" ng-click="afficherFenetre(undefined)">Ajouter D&eacute;partement</button>
	</form>
</div>