<div>
    <h4 class ="titre">LES TYPES DE COURS</h4><br/>
    <div class="container-fluid">
        <div class="row-fluid">
        <div class="col-md-6" ng-repeat="type in typecours">
            <div class=" panel panel-default">
                <div class="panel-heading">{{type.nom}}<span class="pull-right"><a href="#" ng-click="afficherFenetre(type)"><i class="glyphicon glyphicon-edit"></i></a>|<a href="#" ng-click="supprimerTypecours(type)"><i class="glyphicon glyphicon-remove"></i></a></span></div>
                <div class="panel-body">
                    <div ng-show="!type.evaluations.length" class="label label-info">Aucune evaluation definie</div>
                    <table class="table table-bordered" ng-show="type.evaluations.length">
                        <thead>
                            <tr class="success">
                                <th>Evaluation</th>
                                <th>Pourcentage</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="eva in type.evaluations">
                                <td>{{eva.evaluation.code}}</td>
                                <td>{{eva.pourcentage}} %</td>
                                <td><a href="#" ng-click="ajouterEvaluation(type, eva)"><i class="glyphicon glyphicon-edit"></i></a>|<a href="#" ng-click="supprimerEvaluation(type, eva)"><i class="glyphicon glyphicon-remove"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="#" ng-click="ajouterEvaluation(type)">Ajouter Evaluation</a>
                </div>
            </div>
        </div>
        </div>
        <div class="row-fluid">
            <div class="col-md-2">
                <button type="button" class="btn btn-primary pull-right" ng-click="afficherFenetre()">
                    <i class="glyphicon glyphicon-save"></i> Ajouter Type Cours
                </button>
            </div>
        </div>
    </div>
</div>