<div>
    <h4 class ="titre">LA LISTE DES PROGRAMMES ENSEIGNEMENTS</h4><br/>
    <form name="form" method="post" role="form" class="form-horizontal" novalidate>
        <div class="form-group">
            <div class="col-sm-2">
            <label for="annee" class="control-label">Ann&eacute;e Académique</label>            
                <select id="annee" class="form-control" ng-model="annee" ng-options="annee as ((annee.debut|date:'yyyy') +' - ' + (annee.fin|date:'yyyy'))  for annee in annees|orderBy:'-debut'"></select>
            </div>
            <div class="col-sm-2">
            <label for="departement" class="control-label">Departement</label>            
                <select id="departement" class="form-control" ng-model="departement" ng-change="updateOptionsSemestre()" ng-options="departement.id as departement.code  for departement in departements | orderBy:'code'"></select>
            </div>            
            <div class="col-sm-2">
            <label for="niveau" class="control-label">Niveau</label>            
                <select id="niveau" class="form-control" ng-model="niveau" ng-change="updateOptionsSemestre()" ng-options="niveau.id as niveau.code  for niveau in niveaux | orderBy:'code'"></select>
            </div>
            <div class="col-sm-2">
            <label for="semestre" class="control-label">Semestre</label>            
                <select id="semestre" class="form-control" ng-change="filtrer()" ng-model="semestre" ng-options="semestre as semestre.intitule  for semestre in semestres | orderBy:'intitule'"></select>
            </div>
            <div class="col-sm-2">
            <label for="options" class="control-label">Option</label>            
            <select id="options" class="form-control" ng-change="filtrer()" ng-model="option" ng-options="option.id as option.code  for option in options | orderBy: 'code'"></select>
            </div>
        </div>
    </form>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr class="success">
                <th>N<sup>o</sup></th>
                <th>Code</th>
                <th>Intitulé</th>
                <th>Semestre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(cle,programme) in programmes" class="inverse">
                <td>{{$index + 1}}</td>
                <td>{{programme.uniteEnseignement.code}}</td>
                <td>{{programme.uniteEnseignement.intitule}}</td>
                <td>{{programme.semestre.intitule}}</td>
                <td><a ng-click="afficherFenetre(cle, programme)"><i class="glyphicon glyphicon-edit"></i>  Modifier</a> | <a ng-click="supprimerProgramme(cle,programme)"><i class="glyphicon glyphicon-remove"></i> Supprimer</a></td>
            </tr>
        </tbody>
    </table>
    <form>
        <button class="btn btn-primary" ng-click="afficherFenetre()"><i class="glyphicon glyphicon-save"></i> Ajouter</button>
    </form>
</div>