<div class="panel panel-primary">
    <div class="panel-heading">
        IMPORTATION DE NOUVEAUX ETUDIANTS
    </div>
    <div class="panel-body">
        <form name="form" method="post" role="form" class="form-horizontal" novalidate>
            <div class="form-group">
                <label for="code" class="col-sm-2 control-label">Fichier</label>
                <div class="col-sm-6">
                    <input type="file" name="fichier" id="code"  class="form-control" ng-required="true" onchange="angular.element(this).scope().uploadFile(this.files)"/>
                    <span class="error" ng-show="form.code.$dirty && form.code.$error.required">Le fichier est obligatoire</span>
                </div>
                
            </div>
            <div class="form-group">
                <label for="code" class="col-sm-2 control-label">Année Académique</label>
                <div class="col-sm-6">
                    <select name="annee" class="form-control" ng-model="annee" ng-required="true">
                        <option value="">Select one</option>
                        <option ng-repeat="annee in annees|orderBy:'-debut'" value="{{annee.id}}">{{annee.debut.substring(0,4)}}-{{annee.fin.substring(0,4)}}</option>
                        
                    </select>
                    <span class="error" ng-show="form.cycle.$dirty && form.cycle.$error.required">L'ann&eacute;e est obligatoire</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success btn-s" ng-click="form.$valid && valider()">
                        <span class="glyphicon glyphicon-upload"></span> Charger
                    </button>
                </div>
            </div>
        </form>
    </div>    
</div>