<div>
    <h4 class="titre">LA LISTE DES ETUDIANTS INSCRITS</h4>
    <form name="form" method="post" role="form" class="form-horizontal" novalidate>
        <div class="form-group">
            <label for="departement" class="col-sm-1 control-label">Departement</label>
            <div class="col-sm-2">
                <select id="departement" class="form-control" ng-model="departement" ng-change="updateOptions()" ng-options="departement.id as departement.code  for departement in departements | orderBy:'code'"></select>
            </div>
            <label for="annee" class="col-sm-1 control-label">Ann&eacute;e</label>
            <div class="col-sm-2">
                <select id="annee" class="form-control" ng-model="annee" ng-options="annee.id as ((annee.debut|date:'yyyy') +'-' + (annee.fin|date:'yyyy'))  for annee in annees"></select>
            </div>            
            <label for="niveau" class="col-sm-1 control-label">Niveau</label>
            <div class="col-sm-2">
                <select id="niveau" class="form-control" ng-model="niveau" ng-change="updateOptions()" ng-options="niveau.id as niveau.code  for niveau in niveaux | orderBy:'code'"></select>
            </div>
            <label for="options" class="col-sm-1 control-label">Option</label>
            <div class="col-sm-2">
                <select id="options" class="form-control" ng-model="option" ng-options="option.id as option.code  for option in options | orderBy: 'code'"></select>
            </div>
            <div class="col-sm-1">
                <button class="btn btn-default" ng-click="filtrer()">Filtrer</button>
            </div>
        </div>
    </form>
    <table class="table table-bordered table-hover table-condensed table-striped">
        <thead>
            <tr class="success">
                <th>Matricule</th>
                <th>Nom</th>
                <th>Date de Naissance</th>
                <th>Lieu de Naissance</th>
                <th>Email</th>
                <th>Num&eacute;ro de T&eacute;l&eacute;phone</th>
                <th>Genre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="etudiant in etudiants| offset: (currentPage - 1) * itemsPerPage | limitTo: itemsPerPage">
                <td>{{etudiant.matricule}}</td>
                <td>{{etudiant.nom}}</td>
                <td>{{etudiant.dateDeNaissance| date:'dd/MM/yyyy'}}</td>
                <td>{{etudiant.lieuDeNaissance}}</td>
                <td>{{etudiant.email}}</td>
                <td>{{etudiant.numeroTelephone}}</td>
                <td>{{etudiant.genre}}</td>
                <td><a ng-click="afficherFenetre(etudiant)">Modifier</a> | <a ng-click="supprimerEtudiant(etudiant)">Supprimer</a>
                </td>
            </tr>
        </tbody>
    </table>
    <pagination  boundary-links="true" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
     <!-- <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" ng-if="totalItems > 10"></pagination>
       <form>
            <button class="btn btn-default" ng-click="afficherFenetre(undefined)">Ajouter D&eacute;partement</button>
        </form>-->
</div>